.head-border {
border-bottom: 1px solid var(--nav-line);
}

.container__head {
display: flex;
align-items: center;
}
/* --------------NAVIGATION  --------------*/
.navigation {
    display: flex;
    align-items: center;
}

.navigation__list {
    display: flex;

    &>.navigation__li {
        margin-left: 50px;
    }
    &>.navigation__li:first-child {
        margin-left: 0;
    }
}

.navigation__element {
    @include font-medium(14px, 1.14, 0.02em);
    color: var(--nav-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
    color: var(--link-active);
        }
}
// ======== Current ========//
.navigation__current {
padding-top: 32px;
padding-bottom: 32px;
color: var(--link-active);
position: relative;

    &::after {
    content: "";
    display: block;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--link-active);
    border-radius: 2px;
        }
}
/* --------------CONTACTS --------------*/
.contacts {
    display: flex;
    margin-left: auto;
}

.contacts__li {
    display: flex;

    margin-left: 50px;

    &:first-child {
        margin-left: 0;
    }
}

.contacts__contact {
    padding-top: 32px;
    padding-bottom: 32px;

    @include aligm(flex, center, center);
    
    @include font-medium(14px, 1.14, 0.02em);
    text-decoration: none;
    color: var(--contacts-color);
    fill: var(--contacts-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ,fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--link-active);
    fill: var(--link-active);
    }
}

.contacts__icon-maill ,.contacts__icon-tell {
    fill: inherit;
    margin-right: 10px;
}



