.mobile-menu{
    @media screen and (min-width: 678px) {
        display:none;
    }
z-index: 10;

position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100vh;
overflow-y: auto;

background: var(--bg-body-color);
// variant 1
// display: none;


// variant 2
// visibility: hidden;
// opacity: 0;
// pointer-events: none;


// variant 3
 transform: translateY(-100%);
 transition: transform 250ms ease-in-out;

&.is-open {

// variant 1
// display: block;

// variant 2
// visibility:visible;
// opacity: 1;
// pointer-events: auto;

// variant 3
transform: translateY(0);


}
}

.mobile-menu__container{
    position: relative;
    padding-bottom: 48px;
    padding-top: 48px;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;

display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-menu__open-btn {

    position: relative;
    // width: 40px;
    // height: 40px;
    line-height: 0;

    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

transition:  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: var(--link-active);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }


}

.mobile-menu__close-btn{
    position: absolute;
    top: 10px;
    right: 15px;

    // width: 40px;
    // height: 40px;
    border: none;
    padding: 0;
    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;

background-color: transparent;
cursor: pointer;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    fill: var(--link-active);
        }
}


// btn-icons pozition variant 2
// .mobile-menu__btn-icon{
//     position: absolute;
// top: 50%;
// left: 50%;
// transform: translate(-50%, -50%);

// fill: inherit;
// }


.mobile-menu-navigation{

&__element{
    display: block;
    padding-bottom: 32px;
    color: var(--nav-color);
    @include font-medium(40px, 47px, 0.02em);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
    color: var(--link-active);
    }
}
&__current{
    color: var(--link-active);
}
}

.mobile-menu-contacts {
    margin-top: auto;
    margin-bottom: 64px;

&__item {
         margin-bottom: 32px;
}
&__tell{
  @include font-medium(34px, 40px, 0.02em);
  color: var(--link-active);
}

&__maill{
    @include font-medium(24px, 28px, 0.02em);
        color: var(--contacts-color);
}
}

.mobile-menu-container__social-links-list {

display: flex;
flex-wrap: wrap;

align-items: flex-end;
}

.mobile-menu__social-link-item{
position: relative;

&:not(:last-child){
 margin-right: 20px;
   }

&:not(:last-child)::after {
content: "";
position: absolute;
height: 100%;
top: 0;
right: -10px;
display: block;

border: 1px solid rgba(33, 33, 33, 0.2);
// transform: rotate(90deg);
}
}

.mobile-menu__social-link{
        text-decoration: none;
        font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height, or 122% */

            letter-spacing: 0.02em;

            color: #2196F3;
}